Depermitto <penciller@disroot.org> <01178530@pw.edu.pl>
Depermitto <penciller@disroot.org> <penciller94@gmail.com>
Duszke333 <duszke333@gmail.com> <01178616@pw.edu.pl>
jkosla <koslakuba12@gmail.com> <01178539@pw.edu.pl>
	